* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

fieldset {
    margin-top: 5px;
    margin-bottom: 5px;
}

.img-edit, .img-delete {
    width: 25px;
    height: 25px;
}

.img-delete {
    cursor: pointer;
}   

.modal {
    display: none; /* Oculto por default */
    /*position: fixed; */
    /*z-index: 1; */ 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    position: absolute;
    z-index: 999;
    background-color: rgba(0,0,0,0.15);
    /*overflow: auto; */
    /*background-color: rgb(0,0,0); */
    /*background-color: rgba(0,0,0,0.4); */
}

.modal-msg {
    background-color: #fefefe;
    margin: 30% auto;
    /*margin: auto auto;*/
    padding: 20px;
    border: 1px solid #888;
    /*width: 30%;*/
    height: 80px;
    width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 5px;
    animation-name: animatetop;
    animation-duration: 0.4s;
    color: darkblue;
    text-align: center;
}

.modal-show {
    display: block;
}   